// Place all the styles related to the sports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.start{
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .container-sindan{
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }

  .sindanbotan{
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }